# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp

build/
site/
tests/integration/config.php
config.json
config.php
/extensions/

# Package Managers
.pnpm-store/
node_modules/
vendor/
